<%- include('includes/head') %>
    
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">

            <h1 class="text-center">Agenda</h1>
            <p class="text-center lead">Seus contatos estão abaixo!</p>

            <%- include('includes/messages') %>

            <div class="responsive-table">
                <% if(contatos.length > 0) { %>
                    <table class="table my-3">
                        <% contatos.forEach( elemento => {%>
    
                            <tr>
                                <td><%= elemento.nome %></td>
                                <td><%= elemento.sobrenome %></td>
                                <td><%= elemento.email %></td>
                                <td><%= elemento.telefone %></td>
                                <td><a href="/contato/index/<%= elemento._id %>">Editar</a></td>
                                <td><a class="text-danger" href="/contato/delete/<%= elemento._id %>">Excluir</a></td>
                            </tr>
    
                        <% }); %>
                    </table>
                <% } else { %>
                    <p class="text-center lead">Não existem contatos cadastrados!</p>
                <% } %>
            </div>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer') %>
